<header class="header">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <H1>BIENVENIDO SANTIAGO</H1>
            </div>
            <div class="col">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" routerLink="/">Panel principal</button>
                    <button type="button" class="btn btn-secondary" routerLink="/profile">Perfil</button>
                    <button type="button" class="btn btn-secondary" routerLink="/accounts">Cuentas</button>
                    <button type="button" class="btn btn-secondary" routerLink="/transactions">Transacciones</button>
                    <button type="button" class="btn btn-secondary" routerLink="/login">Login</button>
                </div>
            </div>
        </div>
    </div>
</header>