<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Vista previa transacciones</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactionsList">
                        <th scope="row">{{ transaction.type }}</th>
                        <td>{{ transaction.source }}</td>
                        <td>{{ transaction.destination }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Detalles de la cuenta</h2>
            <div class="card" style="width: 18rem;">
                <img src="https://files.consumerfinance.gov/f/images/protected-money_1140x642_ai_fw_io.original.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Información cuenta</h5>
                  <p class="card-text">Datos principales de la cuenta</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Banco: Bancolombia</li>
                  <li class="list-group-item">Tipo: Ahorros</li>
                  <li class="list-group-item">Saldo: $1.000.000</li>
                </ul>
              </div>
        </div>
    </div>
</div>