 <br>
 <br>
 
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <H1>INGRESAR</H1>
            <br>
            <form>
                <div class="form-group">
                    <label for="inputEmail">Correo</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="email"
                        placeholder="Ingrese el correo" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Ingrese la contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
            <br>
            <h5>¿No estas registrado?</h5>
            <button type="button" class="btn btn-secondary" routerLink="/signup">Registrarse</button>
        </div>
        <div class="col-sm"></div>
    </div>
</div>