<div class="formRegister">
    <br>
    <br>
    <H1>REGISTRARSE</H1>
    <br>
    <form [formGroup]="signupForm" (submit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">Correo</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Ingresa tu correo"
                    formControlName="email" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Ingresa la contraseña"
                    formControlName="password" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputName">Nombre</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="Ingresa tu nombre"
                formControlName="firstName" required>
        </div>
        <div class="form-group">
            <label for="inputLastName">Apellidos</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Ingresa tus apellidos"
                formControlName="lastName" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Registrarse</button>
    </form>
</div>